@model IEnumerable<WishList.Models.Item>

@{
    ViewData["Title"] = "View1";
}

<h1>Wishlist</h1>

<a asp-action="create">Create New</a>
<ul>
    @foreach (var item in Model)
    {
    <li>
        item.Description
        <a asp-action="delete" asp-route-id= >Delete</a>
    </li>
    }
</ul>
